<h1>New Place</h1>

<%= form_with url: "/places", method: :post, local: true do %>
  <p>
    <%= label_tag :name, "Name", for: "name_input" %>
    <%= text_field_tag :name, nil, id: "name_input" %>
  </p>

  <%= button_tag "Save" %>
<% end %>
